__pycache__/
*.py[cod]
*$py.class

#Django stuff:
*.log 
migrations/

#Virtual Environment 
venv_brennanlooms/

#Ignoring local settings for Django project 
local_settings.py

#Ignoring DS Store 
.DS_Store
