
{% load staticfiles %}

    <head>
    <link rel="stylesheet" href="{% static 'brennanlooms_app/brennanlooms.css' %}">
    </head> 


    <h1> Cart </h1> 

    <div id="show-cart" class="show-cart"> 

    {% for item in products %}

    <div class="item"> 

        <h3> {{ item.product_name}} </h3> 

    </div> 

    {% endfor %}





<!-- <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_xclick">
<input type="hidden" name="business" value="sarahlynnf6@yahoo.com">
<input type="hidden" name="lc" value="US">
<input type="hidden" name="item_name" value="dgfd">
<input type="hidden" name="amount" value="46.00">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="button_subtype" value="services">
<input type="hidden" name="no_note" value="0">
<input type="hidden" name="shipping" value="0.00">
<input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
 -->



    
    <script src="/static/brennanlooms_app/cart.js" ></script>

