<!DOCTYPE html> 

{% load staticfiles %}

<html> 

    <head> 
        <title> Brennan Looms </title> 

        <link rel="stylesheet" href="{% static 'brennanlooms_app/brennanlooms.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    </head> 

    <body id="brennan-looms-webpage"> 
    <div class="page-wrapper"

        <div class="logo"> 
        </div> 

        <div class="page-header"> 
                <img src="{% static 'brennanlooms_app/images/logohandwritten.png' %}" alt="Hand written logo by Ariche Brennan" width="25%" height="10%" >
        </div>


        <div class="link-banner"> 
            <h2>
                <ul> 
                    <li id="company-info"> 
                        <a href="">About</a>
                    </li> 
                    <li id="products"> 
                        <a href="">Looms</a>
                    </li> 
                    <li id="links">
                        <a href="">Links</a>
                    </li> 
                    <li id="contact-info">
                        <a href="">Contact</a>
                    </li>
                    <li id="cart">
                        <a href="">Cart</a>
                    </li> 
                </ul> 
            </h2>
        </div>

        <div class="content-box" id="content-box">

         <img src="{% static 'brennanlooms_app/images/manusingloom2.png' %}" id="archie-drawing" alt="Drawing by Archie Brennan" width="200" height="300" > 

        </div> 

    </div> 
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="/static/brennanlooms_app/brennanlooms.js" ></script>
    </body> 

</html> 