<!DOCTYPE html> 

{% load staticfiles %}

<html> 

    <head> 
        <title> Brennan Looms </title> 

        <link rel="stylesheet" href="{% static 'brennanlooms_app/brennanlooms.css' %}">
    </head> 

    <body id="brennan-looms-webpage"> 
    <div class="page-wrapper"

        <div class="logo"> 
        </div> 

        <div class="page-header"> 
            <h1> Brennan Looms </h1>
        </div>


        <div class="link-banner"> 
            <h2>
                <ul> 
                    <li class="company-info"> 
                        <a href="">About</a>
                    </li> 
                    <li class="products"> 
                        <a href="">Looms</a>
                    </li> 
                    <li class="links"
                        <a href="">Links</a>
                    </li> 
                    <li class ="Contact-info"
                        <a href="">Contacts</a>
                    </li>
                </ul> 
            </h2>
        </div>

        <div class="content-box">

        Text to make this work right now

        </div> 

    </div> 
    </body> 

</html> 