{% load staticfiles %}

<head> 
<link rel="stylesheet" href="{% static 'brennanlooms_app/brennanlooms.css' %}">
</head> 

<h1> Looms </h1> 

<!-- create a loop that loops through the looms variable created in views.py in def looms_page -->
{% for loom in looms %}

    <div class="loom-product">

    <!-- create a loop that loops through the loom images so they appear no matter how many there are, inside 
            the other loop so that it stays with the product.-->
    {% for image in loom.images.all %}

        <img src="{{image.photo.url}}"> </img>

    {% endfor %}

        <p id="product-name"> {{loom.product_name}} </p> 

        <p id="loom-description"> {{loom.loom_description}} </p> 

        <p id="loom-dimension"> {{loom.loom_dimension}} </p>

        <p id="loom-cost"> {{loom.loom_cost}} </p>

        <p id="shipping"> {{loom.shipping}} </p>

        <button type="button" id="{{loom.pk}}" class="cart-button">Buy Me!</button> 

    </div> 

{% endfor %}

    


