{% load staticfiles %}

<head>
<link rel="stylesheet" href="{% static 'brennanlooms_app/brennanlooms.css' %}">
</head> 

<h1> Looms </h1> 

{% for loom in looms %}

    <div class="loom-product">

        <p id="product-name"> {{loom.product_name}} </p> 

        <p id="loom-description"> {{loom.loom_description}} </p> 

        <p id="loom-dimension"> {{loom.loom_dimension}} </p>

        <p id="loom-cost"> {{loom.loom_cost}} </p>

        <p id="shipping"> {{loom.shipping}} </p>

    </div> 

{% endfor %}
