{% load staticfiles %}

<head>
<link rel="stylesheet" href="{% static 'brennanlooms_app/brennanlooms.css' %}">
</head> 

<h1> Loom Designs to Download </h1> 

{% for pdf in pdfs %}

    <div class="list-of-pdfs"> 

        <p id="pdf-name"> {{pdf.pdf_name}} </p> 

        {% for i in pdfs %}

        <p id="pdf-file"> <a href="{{i.pdf_image.url}}">{{{i.pdf_image}}</a></p> 

        {% endfor %}

    </div> 

{% endfor %}

<footer> Click on an image to get a printable drawing with parts. </footer> 


