{% load staticfiles %}

<head>
<link rel="stylesheet" href="{% static 'brennanlooms_app/brennanlooms.css' %}">
</head> 

<h1> Loom Designs to Download </h1> 

{% for pdf in pdfs %}

    <div class="list-of-pdfs"> 

        <p id="pdf-name"> {{pdf.pdf_name}} </p> 

        <p id="pdf-photo"> <a href="{{pdf.pdf_link.url}}"><img src="{{pdf.pdf_image.url}}" /></a></p> 

    </div> 

{% endfor %}

<p id="footer1"> Click on an image to get a printable drawing with parts. These looms were designed by Archie Brennan. You may use these design for personal use but not to sell. </p>


