.page-wrapper {
    width: 100%;
    margin: 0;
    padding: 0;

}

body {

    font-family: 'Poiret One', cursive;
}

.page-header {
    background: white url ("images/logohandwritten.png");

}


.link-banner {
    border-style: solid;
    text-decoration: none; 
    padding: 1px;
    margin: 2%;
    background-color: #DDDDDD; 
}

.content-box{
    border-style: solid;
    text-decoration: none; 
    margin: 2%; 

}

a {
    text-decoration: none; 
}

a:active {
    color: #E7AE52;;
   } 

a:link {
    color: #E7AE52;;
}

a:visited {
    color: #E7AE52;;
}

li {
    list-style-type: none;
    display: inline-block;
    padding: 2px 10px 2px 10px;
    text-decoration: none;
    text-align: center;
    background-color: #DDDDDD; 

}

ul {
    list-style-type: none;
    margin: 1px 50px 1px 1px;
    padding: 1%;
    overflow: hidden;
    background-color: white;
    text-align: center; 
    background-color: #DDDDDD; 

}

.product-name{
    color: #E7AE52;
    font-weight: bold;

}




